Tuple and Sets

In [1]:
tuple_1 =  (1,2,3)
print(type(tuple_1))

<class 'tuple'>

In [2]:
list1 = [1,2,3]
print(type(list1))

<class 'list'>

In [3]:
tuple_1[1]

2

In [5]:
# Sets
set_1 =  {1,2,3}
print(type(set_1))

set_2 = set([9,8,9,1])
print(type(set_2))

<class 'set'>
<class 'set'>

In [7]:
list2 = [45,25,36,25,96,78,15]
list2.count(25)

2

# If Elif Else

In [ ]:
# syntax

if condition:
    statement
elif condition:
    statement
else:
    statement

In [12]:
a = int(input("Enter a number: "))

if a > 10:
  print("Value is greater than 10")
elif a < 5:
  print("Value is less than 5")
else:
  print("Value is between 5 and 10")

Enter a number: 12
Value is greater than 10

In [24]:
a = int(input("Enter a number: "))

if a > 10 and a < 20:
  print("Value is a between 10 and 20 ")
elif a < 5:
  print("Value is less than 5")
else:
  print("Value is between 5 and 10")

Enter a number: 15
Value is a between 10 and 20

In [23]:
a = int(input("Enter a number: "))

if a > 10 or a < 20:
  print(f"Value is {a} if condition")
elif a < 5:
  print(f"Value is {a} elif condition")
else:
  print(f"Value is {a} else condition")

Enter a number: 4
Value is 4 if condition

In [25]:
a = int(input("Enter a number: "))

if a > 10 and a < 20:
  print(f"Value is {a} if condition")
elif a < 5:
  print(f"Value is {a} elif condition")
else:
  print(f"Value is {a} else condition")

Enter a number: 4
Value is 4 elif condition

In [27]:
numbers =  [9,8,7,6,5,4,3,2,1]
b = int(input("Enter a number: "))

if b in numbers:
  print(f"{b} is in the list")
else:
  print(f"{b} is not in the list")
  numbers.append(b)
print(numbers)

Enter a number: 10
10 is not in the list
[9, 8, 7, 6, 5, 4, 3, 2, 1, 10]

# For Loop

In [27]:
# Sytntax

for i in iterable:
  statement

In [28]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [29]:
numbers =  [9,8,7,6,5,4,3,2,1]

for i in numbers:
  print(i)

9
8
7
6
5
4
3
2
1

In [30]:
names = ["Shayan","Ali","Ahmed"]

for i in names:
  print(i)

Shayan
Ali
Ahmed

In [32]:
x = 2

for i in range(1,11):
  print(f"{x} * {i} = {x*i}")

2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20