# Functions

In [ ]:
def greet():
  print("Hello")

greet()

Hello

In [ ]:
def sum():
  print(5+3)

sum()

8

In [ ]:
def sum(a,b):
  # print(a+b)
  return a + b

sum(10,5)
sum(1,9)
sum(55,100)

155

In [ ]:
sum_numbers = sum(10,5)
print(sum_numbers)

15

In [ ]:
# def function_name(parameters):
  # code block
  # return " "

In [ ]:
def max_element(numbers):
  max_number = 0
  for number in numbers:
    if number > max_number:
      max_number = number
  return max_number

numbers = [2,10,25,3,6,8,9,100,1]
max_value = max_element(numbers)
print(max_value)

100

In [ ]:
max_number = 0
def max_element(numbers,max_number):
  for number in numbers:
    if number > max_number:
      max_number = number
  return max_number

numbers = [2,10,25,3,6,8,9,100,1]
max_element(numbers,max_number)

100

# Reverse String

In [38]:
college_name = "bahria"
def reverse_string(college_name):
  string = ""
  # using for loop
  for char in college_name:
    string = char + string
    print(string)
  # print(college_name[::-1])

reverse_string(college_name)

b
ab
hab
rhab
irhab
airhab

In [ ]:
# positional vs keywords paramterts

def multiply(a,b):
  result = a*b
  return result

def multiply_1(value1,value2):
  result = value1*value2
  return result

multiply(10,5)
multiply_1(value1 = 10, value2 = 5)

50