# Assignment

For loop:

1. Create a list of all numbers between 1 and 100 that are divisible by both 3 and 5.

2. Write a loop that replaces all spaces in a string with underscores.


3. Check which elements are common in two lists


While loop:

1. Keep removing elements from a list one by one and print the list each time, until it becomes empty

2. Start from a number and keep dividing it by 2 until it becomes less than 1. Print each value.

2. Ask the user to enter numbers until the total sum crosses 100.

# Nested loops

In [ ]:
for i in range(1, 4):# 1,2,3
    for j in range(1, 4): # 1,2,3
        print(i, j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [ ]:
rows = 4

for i in range(rows):
    for j in range(rows):
        print("*", end=" ")
    print()

* * * *
* * * *
* * * *
* * * *

In [ ]:
#triangle

rows = 5

for i in range(rows):
    for j in range(i+1):
        print("*", end=" ")
    print()

*
* *
* * *
* * * *
* * * * *