Task 1: create a list of numbers and get the sum of the number using "For Loop"

In [6]:
numbers = [10,1,2]

total = 0

for num in numbers:
  print("Previous Total: ", total)
  total = total +num
  print("Current Total: ", total)
  # print(num, total)

print(total)

Previous Total:  0
Current Total:  10
Previous Total:  10
Current Total:  11
Previous Total:  11
Current Total:  13
13

In [7]:
9%3

0

In [8]:
9%4

1

In [ ]:
# Task2:

# numbers  = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]

# Need a new list of numbers divisible by 3 and 2

In [10]:
numbers  = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
divisible_by_3 = []
for num in numbers:
  if num % 3 == 0:
    divisible_by_3.append(num)
print(divisible_by_3)

[3, 6, 9, 12, 15]

In [11]:
numbers =[]
for i in range(1,50):
  numbers.append(i)
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

# While Loop

In [ ]:
# While condition:
#   statement

In [ ]:
while True:
  print("Hello")

In [14]:
a = 10

while a > 0:
  # print(a)
  a = a - 1
  print(a)

9
8
7
6
5
4
3
2
1
0

In [16]:
# Task # 4 Guess the number using while loop

In [19]:
correct_value = 15
right_condition = True

while right_condition:
  value = int(input("Enter a number: "))
  if value == correct_value:
    print("Correct")
    right_condition = False
  else:
    print("Incorrect Retry ")

Enter a number: 12
Incorrect Retry
Enter a number: 13
Incorrect Retry
Enter a number: 15
Correct